# Настройки базы данных
DB_USER=# Имя пользователя для PostgreSQL
DB_PASS=# Пароль для PostgreSQL
DB_NAME=# Название базы данных

# Токен для бота
BOT_TOKEN=# Токен вашего Telegram-бота или другого сервиса